/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
}
:root {
  --main-font: Roboto;
  --accent-color: var(--#2196F3);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.header {
 
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 25px;
  padding-top: 25px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  align-items: center;
}
/* WebStudio */

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
/* WebStudio */
.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}
/* Студия */

.header-list {
  display: flex;
  margin: 0px;
}

.header-item-studio {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-list .nav-item .current {
  color: #2196f3;
}
/* Студия */
.header-item-studio:hover,
.header-item-studio:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}

/* Портфолио */
.header-item-portfolio {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;

  letter-spacing: 0.02em;

  color: #212121;
}

/* Портфолио */
.header-item-portfolio:hover,
.header-item-portfolio:focus {
  font-weight: 500;

  letter-spacing: 0.02em;
  color: #2196f3;
}
/* Контакты */
.nav-item :last-child {
  margin-right: 50px;
}
.header-item-contacts {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

/* Контакты */
.header-item-contacts:hover,
.header-item-contacts:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.header-nav {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
/* info@devstudio.com */
.mail-contacts :last-child {
  display: block;
  margin-right: 50px;
  
}

.header-mail {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
/* info@devstudio.com */
.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}
/* +38 096 111 11 11 */

.header-phone {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* +38 096 111 11 11 */
.header-phone:hover,
.header-phone:focus {
  color: #2196f3;
}
/* Bg */
.hero{
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-list {
  display: flex;
 
}
.hero-item{
  width: 270px;
}
 .hero-item:not(:last-child){
   margin-right: 30px;
   
 }

.unique-content {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  background-color: #2f303a;
}
/* Эффективные решения для вашего бизнеса */
.main-logo {
  font-family: Roboto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 44px;
  color: #ffffff;
}

/* bg кнопка */
.btn {
  display: flexbox;
  margin: 30px 700px 200px 700px;
}
.main-button {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 13px;
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  font-family: Roboto;
}
.main-button:hover,
.main-button:focus {
  font-family: Roboto;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
}


/* Внимание к деталям */
.hero-title {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: #212121;
}
/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
.upper-title {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #757575;
}
/* Чем мы занимаемся */
.study {
  
  padding-bottom: 94px;
}

.study-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.study-list {
  display: flex;
}
.picture-item:not(:last-child) {
  margin-right: 30px;
 
}
/* img */
.study-item-image {
  width: 370px;
}
.study-item-image1 {
  width: 370px;
}
.study-item-image2 {
  width: 370px;
}
/* Section bg */
.about {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  height: 648px;

  background: #f5f4fa;
}
.about-list {
  display: flex;
}
/* Наша команда */
.about-text {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}
.about-item {
  text-align: center;
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  background: var(--main-background-color);
}
.about-imag1 {
  width: 270px;
}
.about-product{
  padding-top: 30px;
  padding-bottom: 30px;
}
/* img1 */
.about-title-igor {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
/* Product Designer */
.about-upper-product {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
 
}
/* img2 */
.about-item-block {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.about-item:not(:last-child){
margin-right: 30px;
}
.about-imag2 {
  width: 270px;
}
.about-title-olga {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-fronted {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* img3 */
.about-item-box {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.about-imag3 {
  width: 270px;
}
.about-title-nicolay {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper-marketing {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* img4 */
.about-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.about-imag4 {
  width: 270px;
}
.about-title-mihail {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #212121;
}
.about-upper {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* Footer bg*/
.footer-container{
background: #2f303a;
padding-top: 60px;
padding-bottom: 60px;
}

.logo-footer {
  padding-top: 60px;
  padding-left: 215px;
}
.adress {
  font-size: 14px;
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 30px;
  display: block;
}
.address {
  text-decoration: none;
  cursor: default;
  line-height: 1.71;
  font-style: normal;

  display: block;
  color: #ffffff;
  margin-bottom: 9px;
}
.footer-item {
  text-decoration: none;
  cursor: default;
  line-height: 1.71;
  font-style: normal;
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.logo-studio-footer {
  color: #ffffff;
}
.footer-list {
  margin-bottom: 60px;
}
/*----ПОРТФОЛИО----*/
/*секция хедер*/

/* КНОПКИ*/
.list:not(:last-child){
  margin-right: 8px;
}
.portfolio-btn {
  align-items: center;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  background-color: #f5f4fa;
  border-radius: 4px;

  color: #212121;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: #ffffff;
}
.container-block {
  display: flex;
}

.uniqum-content-block {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

}
.main-content {
  margin: 15px;
  
  box-sizing: border-box;
  width: 370px;
  background: #ffffff;
}
.image {
  width: 370px;
}
.paragraph {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #212121;
}
.title {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-container {
  width: 1600px;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.content-main {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio-container{
  padding-top: 94px;
  padding-bottom: 94px;
}
.paragraf-web{
 
  padding-top:20px ;
  padding-bottom:20px ;
  padding-left:24px ;
  padding-right:24px ;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom:1px solid #EEEEEE;
}